 .container{
     text-align: center;
 }

 table{
     margin: auto;
 }

 input{
     font-size: 31.5px;
     border-radius: 2px;
 }

 button{
     height: 60px;
     width: 100px;
     font-size: 20px;
     border-radius: 5px;
 }